/* Login登录页面 */
.Login{
  width: 100%;
  height: 1024px;
  background: url('https://github.com/sihan9/oursapp/blob/master/images/Backstage/background.jpg?raw=true') no-repeat;
}
.head{
  width: 100%;
  height: 100px;
  margin: 0 auto;
}
.title1{
  float: left;
  display: inline;
  left: 0;
}
.title2{
  display: inline;
  float: left;
  margin-top: 30px;
}
.middle{
  width: 100%;
}
.header{
  margin-top:60px;
  float: left;
  margin-left: 560px;
}
.users{
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.user{
  margin-left: 370px;
  float: left;
}
.username{
  width: 380px;
  height: 45px;
  float: left;
  margin-left: 30px;
  margin-top: 2px;
  padding-left: 10px;
  border-radius: 18px;
  border: 2px solid rgb(177, 176, 176);
  background-color: transparent;
}
.code{
  width: 160px;
  height: 45px;
  float: left;
  margin-left: 30px;
  margin-top: 2px;
  padding-left: 10px;
  border-radius: 18px;
  border: 2px solid rgb(177, 176, 176);
  background-color: transparent;
}
.btn1{
  width: 160px;
  height: 50px;
  float: left;
  margin-left: 30px;
  margin-top: 2px;
  border-radius: 18px;
  color: #fff;
  font-size: 26px;
  background-color:#6686e5;
  border: none;
}
.update{
  float: left;
  margin-left: 30px;
}
.users p{
  color: #6686e5;
  font-size: 24px;
  margin-left: 10px;
  margin-top: 15px;
  float: left;
}
.loginbtn{
  width: 160px;
  height: 50px;
  float: left;
  margin-left: 534px;
  margin-top: 20px;
  border-radius: 18px;
  color: #fff;
  font-size: 26px;
  background-color:#6686e5;
  border: none;
}
/* 框架样式 */
body{
  height: 1024px;
  background: url('https://github.com/sihan9/oursapp/blob/master/images/Backstage/background.jpg?raw=true') no-repeat;
  background-size: 100% 100%;
}
.box-1-1{
  width: 100%;
  height: 100px;
}
.box-1-1 img{
  float: left;
}
.box-1-1 button{
  font-size: 15px;
  margin-left: 740px;
  margin-top: 50px;
  background: white;
  border: 1px solid #c3c3c3;
  height: 40px;
  width: 80px;
  border-radius: 5px;
}
.box-2{
  background: #6485e4;
  width: 220px;
  height: 535px;
  margin-left: 17px;
  float: left;
  margin-top: 50px;
}
.box-2-1{
  width: 220px;
  height: 60px;
  border-bottom: 1px solid white;
  padding-top: 20px;
}
.box-2-1 img{
  width: 40px;
  height: 40px;
  padding-left: 30px;
  float: left;
}
.box-2-1 a{
  font-size: 23px;
  color: white;
  padding-left: 10px;
  float: left;
  padding-top: 10px;
  text-decoration: none;
}
.box-3{
  border: 2px solid #6485e4;
  border-radius: 10px;
  width: 700px;
  height: 60px;
}
.box-3 img{
  width: 40px;
  float: left;
  padding-top: 10px;
  padding-left: 25px;
}
.box-3 input{
  border-radius: 5px;
  border: 1px solid white;
  width: 200px;
  height: 30px;
  margin-left: 20px;
  margin-top: 15px;
  float: left;
  font-size: 12px;
  color: gray;
}
.component{
  float: left;
  width: 950px;
  height: 500px;
  margin-top: 25px;
  margin-left: 50px;
}

/* 首页样式 */
.shouye-1{
  width: 950px;
  height: 500px;
}
.shouye-1-2{
  width: 140px;
  height: 140px;
  border: 1px solid #6585e5;
  background: #6585e5;
  border-radius: 25px;
  float: left;
  text-align: center;
  color: white;
  padding-top: 70px;
  line-height: 40px;
  font-size: 20px;
}

/* 用户列表 */
.user-1{
  font-size: 20px;
}
.user-2{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
  height: 35px;
}
.user-2 p{
  float: left;
  margin: 0;
  padding-left: 85px;
  margin-top: 5px;
  font-size: 20px;
}
.user-2 input{
  float: left;
  margin-top: 13px;
}
.user-3{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
  height: 35px;
}
.user-3 p{
  float: left;
  margin: 0;
  padding-left: 65px;
  width: 100px;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}
.user-3 input{
  float: left;
  margin-top: 13px;
}
.user-3 button{
  margin-left: 135px;
  margin-top: 5px;
  background-color: #6485e4;
  border-radius: 5px;
  border: 1px solid #6485e4;
  color: white;
}
/* 帖子管理 */
.title-1{
  font-size: 20px;
}
.title-2{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
  height: 35px;
}
.title-2 p{
  float: left;
  margin: 0;
  padding-left: 50px;
  margin-top: 5px;
  font-size: 20px;
}
.title-2 input{
  float: left;
  margin-top: 13px;
}
.title-3{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
}
.title-3 p{
  text-align: center;
  float: left;
  margin: 0;
  padding-left: 35px;
  margin-top: 5px;
  font-size: 15px;
}
.title-3 input{
  float: left;
  margin-top: 13px;
}
.title-3 button{
  margin-left: 65px;
  margin-top: 5px;
  background-color: #6485e4;
  border-radius: 5px;
  border: 1px solid #6485e4;
  color: white;
}


/* 反馈管理 */
.feekback-1{
  font-size: 20px;
}
.feekback-2{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
  height: 35px;
}
.feekback-2 p{
  float: left;
  margin: 0;
  padding-left: 65px;
  margin-top: 5px;
  font-size: 20px;
}
.feekback-2 input{
  float: left;
  margin-top: 13px;
}
.feekback-3{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
}
.feekback-3 p{
  float: left;
  margin: 0;
  padding-left: 40px;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}
.feekback-3 input{
  float: left;
  margin-top: 13px;
}
.feekback-3 button{
  margin-left: 43px;
  margin-top: 5px;
  background-color: #6485e4;
  border-radius: 5px;
  border: 1px solid #6485e4;
  color: white;
}


/* 系统管理 */

.manager-1{
  font-size: 20px;
}
.manager-2{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
  height: 35px;
}
.manager-2 p{
  float: left;
  margin: 0;
  padding-left: 65px;
  margin-top: 5px;
  font-size: 20px;
}
.manager-2 input{
  float: left;
  margin-top: 13px;
}
.manager-3{
  float: left;
  width: 950px;
  border: 2px solid #6485e4;
  height: 35px;
}
.manager-3 p{
  float: left;
  margin: 0;
  padding-left: 55px;
  margin-top: 5px;
  font-size: 15px;
}
.manager-3 input{
  float: left;
  margin-top: 13px;
}
.manager-3 button{
  margin-left: 25px;
  margin-top: 5px;
  background-color: #6485e4;
  border-radius: 5px;
  border: 1px solid #6485e4;
  color: white;
}
.manager-4{
  float: left;
  background-color: #6485e4;
  border: 1px solid #6485e4;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 860px;
  color: white;
  font-size: 15px;
}

/* 添加管理员 */
.add-1{
  padding-left: 150px;
}
.add-1 div{
  float: left;
  width: 758px;
  height: 55px;
  padding-top: 10px;
}
.add-1 div p{
  float: left;
  font-size: 22px;
  width: 75px;
}
.add-1 div input{
  float: left;
  margin-left: 50px;
  margin-top: 25px;
  height: 20px;
  width: 200px;
}
.add-1 div{
  float: left;
  width: 700px;
  height: 45px;
}
.add-2{
  float: left;
  background-color: #6485e4;
  border: 1px solid #6485e4;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 25px;
  color: white;
  font-size: 23px;
}
.add-1 button{
  float: left;
  background-color: #6485e4;
  border: 1px solid #6485e4;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 100px;
  color: white;
  font-size: 23px;
}